<h1>Restaurants#index</h1>
<% @restaurants.each do |restaurant| %>
  <ul>
    <li>
      <%= link_to restaurant.name, restaurant_path(restaurant) %>
    </li>
  </ul>
  <% end %>

<p>Find me in app/views/restaurants/index.html.erb</p>
