<h1>Restaurants#index</h1>
<% @restaurants.each do |restaurant| %>
  <ul>
    <li>
      <%= link_to restaurant.names, restaurant_path(restaurant) %>
    </li>
  </ul>
  <% end %>

  <%= link_to 'create new restaurant', new_restaurant_path %>

<p>Find me in app/views/restaurants/index.html.erb</p>
